# VIC GA Carlibrate global configuration
# Created by HenryChin ON 2024/7/26

# Software Path
ms_path \\wsl.localhost\Ubuntu\root\anaconda3\bin\ms                            # MetSim
vic_path \\wsl.localhost\Ubuntu\root\VIC\vic\drivers\image         # 编译好的VIC image driver 程序
global_param	D:/VIC_GA/RUN_VIC/global.params                                 # 这个是VIC5全局文件的配置路径
metsim  true                                                                    # 用降水，最大最小气温生成VIC所需的驱动数据
metsim_env base                                                                 # metsim在conda哪里，默认在base
# obseQ                                                                         # 观测径流的绝对路径
# obserPET                                                                      # 观测增散发的绝对路径
# Carlibration parameters
# infilt  # 师姐说一般都是率定土壤这几个参数
# Ds  0-1 # 表示范围
# Dsmax  0-1 
# Ws  0-1
# c   0-1
# depth1  0-1
# depth2  0-1  
# depth3  0-1  
# GA算法参数 
# pop_size 
# gen_size
# elite_size
# crossover_fraction
# stall_gen_limit
# tol_fun
# fitnessfunc
# fitnessscalling_func
# selection_func
# crossover_func
# mutation_fuc

